on early-boot
	# Allow writing to the kernel trace log.
	chmod 0222 /sys/kernel/debug/tracing/trace_marker
	chmod 0222 /sys/kernel/tracing/trace_marker

	# Allow the shell group to enable (some) kernel tracing.
	chown system system /sys/kernel/debug/tracing/trace_clock
	chown system system /sys/kernel/debug/tracing/buffer_size_kb
	chown system system /sys/kernel/debug/tracing/options/overwrite
	chown system system /sys/kernel/debug/tracing/options/print-tgid
	chown system system /sys/kernel/debug/tracing/events/sched/sched_switch/enable
	chown system system /sys/kernel/debug/tracing/events/sched/sched_wakeup/enable
	chown system system /sys/kernel/debug/tracing/events/power/cpu_frequency/enable
	chown system system /sys/kernel/debug/tracing/events/power/cpu_idle/enable
	chown system system /sys/kernel/debug/tracing/events/power/clock_set_rate/enable
	chown system system /sys/kernel/debug/tracing/events/cpufreq_interactive/enable

	chmod 0755 /sys/kernel/debug/tracing/trace_clock
	chmod 0755 /sys/kernel/debug/tracing/buffer_size_kb
	chmod 0755 /sys/kernel/debug/tracing/options/overwrite
	chmod 0755 /sys/kernel/debug/tracing/options/print-tgid
	chmod 0755 /sys/kernel/debug/tracing/events/sched/sched_switch/enable
	chmod 0755 /sys/kernel/debug/tracing/events/sched/sched_wakeup/enable
	chmod 0755 /sys/kernel/debug/tracing/events/power/cpu_frequency/enable
	chmod 0755 /sys/kernel/debug/tracing/events/power/cpu_idle/enable
	chmod 0755 /sys/kernel/debug/tracing/events/power/clock_set_rate/enable
	chmod 0755 /sys/kernel/debug/tracing/events/cpufreq_interactive/enable

	# Allow only the shell group to read and truncate the kernel trace.
	chown system system /sys/kernel/debug/tracing/trace
	chmod 0755 /sys/kernel/debug/tracing/trace